TextView {
	padding: 10;
	font-size: 20;
	border-bottom-width: 2;
	border-bottom-color: #0F3E4E;
	color: #0F3E4E;
}

TextView.link {
	color: blue;
	text-decoration: underline;
	border-bottom-width: 0;
}

.submit-button {
	margin: 10;
    background-color: #0F3E4E;
    border-radius: 5;
    color: white;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;
    width: 100;
}

.grayed {
	background-color: #CDCBCB;
}

.attachments {
	margin: 15 10 0 10;
}

.attachments StackLayout {
	border-right-width: 2;
	border-right-color: #022835;
	border-left-width: 2;
	border-left-color: #022835;
}

.attachments GridLayout {
	padding: 0 10 0 10;
}

.attachments .submit-button {
	margin: 0;
	font-size: 20;
}

.attachments Label {
	margin-bottom: 10;
	font-size: 24;
	font-weight: 700;
}

.attachment-spinner {
	margin-left: 5;
}