@import '~nativescript-theme-core/css/core.light.css';

Page {
    background-color: white;
    font-size: 15;
}

TextField {
	padding: 10;
	font-size: 20;
	border-bottom-width: 2;
	border-bottom-color: #0F3E4E;
	color: #0F3E4E;
}

Label {
    font-weight: 700;
    color:#022835;
}

.submit-button {
	margin: 10;
    background-color: #0F3E4E;
    border-radius: 5;
    color: white;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;
    width: 100;
}

TextView.link {
	padding: 10;
	font-size: 20;
	color: blue;
	text-decoration: underline;
}

.btn-img {
	border-radius: 17;
	border-width: 2;
	border-color: #01171F;
	background-color: #255768;
	width: 37;
	height: 31;
}

.show {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hide {
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}
@keyframes hide {
    from { opacity: 1; }
    to { opacity: 0; }
}