@import '~nativescript-theme-core/css/core.light.css';

Page {
    background-color: white;
    font-size: 15;
}

TextField {
	padding: 10;
	font-size: 20;
	border-bottom-width: 2;
	border-bottom-color: #0F3E4E;
	color: #0F3E4E;
}

Label {
    font-weight: 700;
    color:#022835;
}

.show {
    animation-name: show;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hide {
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}
@keyframes hide {
    from { opacity: 1; }
    to { opacity: 0; }
}