@import '~nativescript-theme-core/css/core.light.css';

Page {
    background-color: white;
    font-size: 15;
}

TextField {
	padding: 10;
	font-size: 20;
	border-bottom-width: 2;
	border-bottom-color: #0F3E4E;
	color: #0F3E4E;
}

Label {
    font-weight: 700;
    color:#022835;
}