<ActionBar title="NativeScript Interview Demo">
	<ActionItem (tap)="triggerBack()" title="Back" ios.position="right" visibility="{{ view.back ? 'visible' : 'collapse' }}"></ActionItem>
	<ActionItem (tap)="triggerLocation()" icon="~/custom/images/add.png" ios.position="right" visibility="{{ view.location ? 'visible' : 'collapse' }}"></ActionItem>
	<ActionItem (tap)="triggerList()" icon="~/custom/images/list.png" ios.position="right" visibility="{{ view.list ? 'visible' : 'collapse' }}"></ActionItem>
	<ActionItem (tap)="triggerMap()" icon="~/custom/images/map.png" ios.position="right" visibility="{{ view.map ? 'visible' : 'collapse' }}"></ActionItem>
</ActionBar>