GridLayout GridLayout {
    margin: 0 30 0 30;
}

GridLayout GridLayout Label {
    font-weight: 700;
    color:#022835;
}

.visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}